body{
    font-family: Arial, sans-serif;
    background:#0b1020;
    color:white;
    text-align:center;
    padding:30px;
}

h1{
    color:#00d4ff;
}

button{
    margin:10px;
    padding:12px 20px;
    border:none;
    border-radius:10px;
    background:#00a8ff;
    color:white;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#0077cc;
}

.info{
    margin-top:30px;
    padding:20px;
    background:#1b263b;
    border-radius:10px;
    width:70%;
    margin-left:auto;
    margin-right:auto;
}
